# Configurações do Banco de Dados
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=mydatabase
DB_USER=myuser
DB_PASSWORD=secret
DB_ROOT_PASSWORD=verysecret
MARIADB_ROOT_PASSWORD=verysecret

# Configurações do Google OAuth
GOOGLE_CLIENT_ID=SUA_GOOGLE_CLIENT_ID_AQUI
GOOGLE_CLIENT_SECRET=SUA_GOOGLE_CLIENT_SECRET_AQUI

# Mapeamento de Portas (ajuste se as portas 80/8080 estiverem em uso no host da VPS)
HOST_PORT_FRONTEND=8082
HOST_PORT_BACKEND=8081
